@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
.container{
    font-family: 'Golos Text', sans-serif;
    background-color: #ffffff; 
}
body{
    margin: 0; 
}

.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 1rem;
    
}

.nav__heading{
    display: flex;
    padding-left: 2rem;
    
}

.nav__heading h2 span{
    color:#437EF7;
}
.nav__elements ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    color: #272D37;
    line-height: 30px;
}

.nav__elements ul li{  
    padding: 0 1rem;
    font-size:100%;
}


.nav__btn--primary button{
    border: none;
    background-color:  #272D37;
    color: #ffffff;
    margin:0 1em;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer; 
}


.nav__elements ul a{
    text-decoration: none;
    color: #272D37;
}
.nav__elements ul a:hover {
    color: #437EF7;
}  

.nav__elements--dropdown{
    display: none;
}

.content{

    
    background-color: #121212;

}


.content__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}


.content h1{
    background-color: #1F1B24;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
    color: #ffffff;   
    
}

.content__img img{
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 0.5s;
}

.content__img img:hover{
    transform: scale(1.1);
}

.full-img{
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img {
    width: 90%;
    max-width: 700px;
}
.full-img span {
    position :absolute;
    top:5%;
    right: 5%;
    font-size: 30px;
    color:#fff;
    cursor: pointer;

}

.section{
   
    padding-left: 2.6rem;
    color: #272D37;
    line-height: 150%;
    margin: 70px 0;

}

.section h1{
    font-size: 5rem;  
    
}
.section h2{
    font-size: 3rem;
    
}
.section h2 span{
    color:#437EF7 ;
}
.section p{
    font-size: 1rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    min-width: 504px;
   
}
.footer h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer span {
    color:#437EF7 
}


@media(width<700px){



    .nav__elements ul{
        display: grid;
        grid-template-columns:1fr 1fr;
    }

    .content{
        min-width: 548px;
        background-color: #121212;
        width: 100%;
    }

    .full-img{
        height: 100%;
    }

    .section{
        padding-left: 5.5rem;       
    }
    
    .section h1{
        line-height: 80%;
         
        
    }
    .section h2{
        line-height: 100%;
        
    }

}